/*-----------------------------------autocollapse----------------------------*/
@media all and (max-width:360px){
    //  body{ background-color: #0096d6;}

}
.OpenMenu { display:none; }


.outer{
    padding: 10px 100px 10px 5px;
    color: #b8c7ce;
    //float:left;
}
.outer a{
    padding: 10px 100px 10px 5px;
    list-style: none;
    text-decoration: none;
    color: #b8c7ce;
    // line-height: 20px;

    //float:left;

}
.outer a:hover{
    background-color:#111111;
    color:#ffffff;
    border-left: 3px solid #f8f8f8;
    vertical-align: middle;
    list-style: none;
    text-decoration: none;
}

body, html {
    background-color:rgb(236, 240, 245);
    min-height: 100%;


}

img {
    border: 0;
    vertical-align: middle;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;    
}

.user-panel>.info {
    padding: 0px 5px 5px 20px;
    line-height: 0.5;
    position: absolute;
    left: 55px;
}

.user-panel{    
    white-space: nowrap;
    overflow: hidden;    
    position: relative;
    width: 100%;
    padding: 10px;
}
.user-img{
    border-radius:50%;
    height:50px;
    width:50px;

    border: 2px solid #f8f8f8;
    box-shadow:  #f8f8f8 1px 1px 5px 2px; 
}

.content{
    background-color:rgb(236, 240, 245); 
    min-height: 100%;
    position: absolute;
    float:right; 
    margin-left: 0px;
}

/*@media (min-width:100px){
#left-panel{}
}*/

#left-panel{

    background-color: rgb(51, 51, 51);color:whitesmoke;
    /*border: 1px solid;border-radius: 3px; height:590px; */
    min-height: 100%;
    position: absolute;
    width: 200px;
    z-index: 999;
}
#top-panel{
    background-color:rgb(60, 141, 188);float:top;
    height:50px;z-index: 999;color:whitesmoke;
}
#top-panel #logged-msg{
    font-size: 12px;
}
hr{    
    margin:0;
    padding:0;
}
.submenu a{
    text-decoration: none;
    list-style: none;
    color:buttonface;
}
.submenu a:hover, .submenu a:focus {
    text-decoration: none;
    list-style: none;
    color:floralwhite;
}